<html>
<head>
<style>
table, th, td{
	border: 1px solid black;
}
#table a{color: black;}

#bot a:link, a:visited {
  background-color: #90ee90;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#bot a:hover, a:active {
  background-color: green;
}

</style>
</head>
	<div id=table>
	<table>
		<tr>
			<th>Task Title</th>
			<th>Due Date</th>
			<th>Details</th>
			<th>Completed?</th>
			<th></th>
		</tr>
		{% for task in obj %}
		<tr>
			<td>{{task.title}}</td>
			<td>{{task.due_date}}</td>
			<td>{{task.details}}</td>
			<td>{{task.is_completed}}</td>
			<td><a href="/view-completed?id={{task.id}}">Mark as Incomplete</a></td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div id="bot"><br><body><a href="/view-tasks">View Incomplete Tasks</a></body></div>
</html>
